<!-- Footer -->
<!-- Footer -->

<footer class="page-footer font-small blue pt-4" style="background-color: #1E4B82;color: white;">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3" >
  
          <!-- Content -->
          <h4 class="text-uppercase">Phoenix Store</h4>
          <p>¡Somos tu mejor opcion en compras en linea!</p>
          <img src="assets/icons/phoenix.png" alt="" style="width: 70px;height: 40px;">
          <img src="assets/icons/compras.png" alt="" style="width: 70px;height: 40px;">
        </div>
        <hr color="gray">
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Compras</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Registrate</a>
            </li>
            <li>
              <a href="#!">Comprar</a>
            </li>
            <li>
              <a href="#!">Ofertas</a>
            </li>
           
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">¡Conocenos!</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Acerca de</a>
            </li>
            <li>
              <a href="#!">Mision</a>
            </li>
            <li>
              <a href="#!">Vision</a>
            </li>
           
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" >© 2020 Copyright:
      <a href="PhoenixStore.com">Todos los derechos reservados. </a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
