
<!--imagen oferta-->
<div class="barra" >
 <p >
  <b>¡LO MAS VENDIDO!</b>
</p>        
</div>
<!--Cards Lo mas vendidoo-->
<div class="container" >
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" >
        <div class="carousel-inner"  style="height: 350px;">
          <div class="carousel-item active">
            <div class="row "  style="text-align: center;margin-right: 1%;">
               <!--Primer Card-->
              <div class="col-3">
                <img src="assets/icons/imagen1.jpg" class="d-block w-100 h-70" alt="..">
                <label for="">Reloj OTTUM dorado</label><br>
                <strong>HNL. 2,000L</strong>
               </div>
               <!--Segunda Card-->
              <div  class="col-3">
                <img src="assets/icons/imagen2.jpg" class="d-block w-100 h-70 " alt=".." > 
              <label for="" >Dell Lattitude i-7 9900k</label><br>
              <strong>HNL. 20,000L</strong>
              </div>
               <!--Tercer Card-->
              <div class="col-3">
                <img src="assets/icons/imagen3.jpg" class="d-block w-100 h-70" alt="">
               <label for="">Ipad Apple</label><br>
                <strong>HNL. 16,000L</strong>
              </div>
              <!--Cuarta Card-->
              <div class="col-3">
                <img src="assets/icons/imagen4.jpg" class="d-block w-100 h-70" alt="gamer">
                <label for="">Ipords 3Gen.</label><br>
                <strong>HNL. 5,000L</strong>
              </div>
          </div>
          </div>
          <!--Segundo slice-->
          <div class="carousel-item ">
            <div class="row " style="text-align: center;">
                 <!--Primer Card-->
                <div class="col-3">
                  <img src="assets/icons/imagen5.jpg" class="d-block w-100 h-70" alt="alexa">
                   <label>Iphone 11 256GB</label><br>
                  <strong>HNL. 20,000L</strong>
                 </div>
                 <!--Segunda Card-->
                <div  class="col-3">
                  <img src="assets/icons/imagen6.png" class="d-block w-100 h-70" alt="samsung tablet">
                  <label for="">Beats Studio 2Gen.</label><br>
                  <strong>HNL. 2,000L</strong>
                </div>
                 <!--Tercer Card-->
                <div class="col-3">
                  <img src="assets/icons/imagen7.jpg" class="d-block w-100 h-70" alt="ipords">
                  <p><b>Cargador Samsung Blanco</b></p>
                  <strong>HNL. 20,000L</strong>
                </div>
                <!--Cuarta Card-->
                <div class="col-3">
                  <img src="assets/icons/imagen8.jpg" class="d-block w-100 h-70" alt="gamer">
                   <label for="">Choromecast Gen3.</label><br>
                  <strong>HNL. 1,000L</strong>
                </div>
          </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
</div>
  <!--********************************************************************************-->
  <!--imagen oferta-->
<div class="barra" >
  <p >
   <b>¡OFERTAS PARA TI!</b>
 </p>        
 </div>
 <!--Cards Lo mas vendidoo-->
 <div class="container" >
       <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" >
         <div class="carousel-inner"  style="height: 350px;">
           <div class="carousel-item active">
             <div class="row "  style="text-align: center;margin-right: 1%;">
                <!--Primer Card-->
               <div class="col-3">
                 <img src="assets/icons/imagen1.jpg" class="d-block w-100 h-70" alt="..">
                 <label for="">Reloj OTTUM dorado</label><br>
                 <strong>HNL. 2,000L</strong>
                </div>
                <!--Segunda Card-->
               <div  class="col-3">
                 <img src="assets/icons/imagen2.jpg" class="d-block w-100 h-70 " alt=".." > 
               <label for="" >Dell Lattitude i-7 9900k</label><br>
               <strong>HNL. 20,000L</strong>
               </div>
                <!--Tercer Card-->
               <div class="col-3">
                 <img src="assets/icons/imagen3.jpg" class="d-block w-100 h-70" alt="">
                <label for="">Ipad Apple</label><br>
                 <strong>HNL. 16,000L</strong>
               </div>
               <!--Cuarta Card-->
               <div class="col-3">
                 <img src="assets/icons/imagen4.jpg" class="d-block w-100 h-70" alt="gamer">
                 <label for="">Ipords 3Gen.</label><br>
                 <strong>HNL. 5,000L</strong>
               </div>
           </div>
           </div>
           <!--Segundo slice-->
           <div class="carousel-item ">
             <div class="row " style="text-align: center;">
                  <!--Primer Card-->
                 <div class="col-3">
                   <img src="assets/icons/imagen5.jpg" class="d-block w-100 h-70" alt="alexa">
                    <label>Iphone 11 256GB</label><br>
                   <strong>HNL. 20,000L</strong>
                  </div>
                  <!--Segunda Card-->
                 <div  class="col-3">
                   <img src="assets/icons/imagen6.png" class="d-block w-100 h-70" alt="samsung tablet">
                   <label for="">Beats Studio 2Gen.</label><br>
                   <strong>HNL. 2,000L</strong>
                 </div>
                  <!--Tercer Card-->
                 <div class="col-3">
                   <img src="assets/icons/imagen7.jpg" class="d-block w-100 h-70" alt="ipords">
                   <p><b>Cargador Samsung Blanco</b></p>
                   <strong>HNL. 20,000L</strong>
                 </div>
                 <!--Cuarta Card-->
                 <div class="col-3">
                   <img src="assets/icons/imagen8.jpg" class="d-block w-100 h-70" alt="gamer">
                    <label for="">Choromecast Gen3.</label><br>
                   <strong>HNL. 1,000L</strong>
                 </div>
           </div>
           </div>
         </div>
         <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
           <span class="carousel-control-prev-icon" aria-hidden="true"></span>
           <span class="sr-only">Previous</span>
         </a>
         <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
           <span class="carousel-control-next-icon" aria-hidden="true"></span>
           <span class="sr-only">Next</span>
         </a>
       </div>
 </div>
<!--*******************************************************************--> 
      <!--Imagen de Informacion-->
      <div class="jumbotron" style="margin-bottom: 10px;margin-top: 10px;">
        <h1 class="display-4">¿Quieres Vender en Nuestra Tienda Online?</h1>
        <p class="lead">¿Pensado en expandir tus ventas? Te ayudamos en la venta de tus articulos,asi ayudandote a expandirte a nivel internacional si asi lo deseas.</p>
        <hr class="my-4">
        <p>¡No lo pienses mas mal unete a nosotros!</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Ver mas Informacion</a>
      </div>
      <!--Imagen con texto-->
      <div class="card bg-dark text-white" >
        <img src="assets/icons/xbox.jpg"  alt="..." >
        <div class="card-img-overlay">
          <h2 class="card-title">¿Fanatico de los Video Juegos?</h2>
          <p class="card-text"> En nuestra tienda encontraras los mejores precios en consolas ,video juegos,accesorios y<br> mas,encuentra todo en la seccion de compras,recuerda
            que si eres nuevo comprando asesorate antes de hacerlo.
          </p>
          <p class="card-text"> MODO GAME ACTIVADO</p>
        </div>
      </div>
      
      
          <!--FOOTER-->
      
