

<header>
  <!-- Header Start -->
  <div class="header-area">
      <div class="main-header header-sticky">
          <div class="container-fluid">
              <div class="menu-wrapper">
                  <!-- Logo -->
                  <div class="logo">
                      <a href="index.html"><img src="assets/img/logo/logo.png" alt=""></a>
                  </div>
                  <!-- Main-menu -->
                  <div class="main-menu d-none d-lg-block">
                      <nav>
                          <ul id="navigation">
                              <li><a href="index.html">Inicio</a></li>
                              <li><a routerLink="/compras" >Comprar</a></li>
                              <li><a href="about.html">Conocenos</a></li>
                              <li class="hot"><a href="#">Ofertas</a>
                                  <ul class="submenu">
                                      <li><a href="shop.html"> Mas vendidos</a></li>
                                      <li><a href="product_details.html"> Novedades</a></li>
                                  </ul>
                              </li>
                              <li><a href="blog.html">Blog</a>
                                  <ul class="submenu">
                                      <li><a href="blog.html">Blog</a></li>
                                      <li><a href="blog-details.html">Blog Details</a></li>
                                  </ul>
                              </li>
                          </ul>
                      </nav>
                  </div>
                  <!-- Header Right -->
                  <div class="main-menu div-perfil" >

                    <ul>
                      <li><a href="#"><img src="assets/icons/usuario.png" width="30px" alt=""></a>
                        <ul class="submenu">
                            <li><a routerLink="login" >Perfil</a></li>
                            <li><a href="blog-details.html">Editar</a></li>
                        </ul>
                      </li>
                    </ul>

                     <!--  <span class="iconos-navbar">
                        <a href="index.html" ><img src="assets/icons/usuario.png" width="30px" alt="">
                          <ul class="submenu">
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="blog-details.html">Blog Details</a></li>
                        </ul>
                        </a>
                      </span>

                      <span class="iconos-navbar">
                        <a href="index.html"><img src="assets/icons/supermercado.png" width="30px" alt=""></a>
                      </span> -->

                  </div>
              </div>
              <!-- Mobile Menu -->
              <div class="col-12">
                  <div class="mobile_menu d-block d-lg-none"></div>
              </div>
          </div>
      </div>
  </div>
  <!-- Header End -->
</header>
<router-outlet></router-outlet>