.header-area .main-header {
  padding: 0px 120px
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .header-area .main-header {
      padding: 0px 10px
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header-area .main-header {
      padding: 0px 10px
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header {
      padding: 22px 0px
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .header-area .main-header {
      padding: 22px 0px
  }
}
@media (max-width: 575px) {
  .header-area .main-header {
      padding: 22px 0px
  }
}
.header-area .main-header .menu-wrapper {
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center
}
.header-area .main-header .menu-wrapper .main-menu ul li {
  display: inline-block;
  position: relative;
  z-index: 1
}
.header-area .main-header .menu-wrapper .main-menu ul li a {
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  color: #141517;
  font-weight: 600;
  padding: 41px 21px;
  display: inline-block;
  text-transform: capitalize;
  display: block;
  -webkit-transition: all .3s ease-out 0s;
  -moz-transition: all .3s ease-out 0s;
  -ms-transition: all .3s ease-out 0s;
  -o-transition: all .3s ease-out 0s;
  transition: all .3s ease-out 0s
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header-area .main-header .menu-wrapper .main-menu ul li a {
      padding: 41px 15px
  }
}
.header-area .main-header .menu-wrapper .main-menu ul li:hover>a {
  color: #ff2020
}
.header-area .main-header .menu-wrapper .main-menu ul li.hot {
  position: relative
}
.header-area .main-header .menu-wrapper .main-menu ul li.hot::before {
  position: absolute;
  content: "HOT";
  background: #ff003c;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  font-size: 10px;
  top: 19px;
  right: -13px;
  -webkit-transition: all .2s ease-out 0s;
  -moz-transition: all .2s ease-out 0s;
  -ms-transition: all .2s ease-out 0s;
  -o-transition: all .2s ease-out 0s;
  transition: all .2s ease-out 0s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 3px 8px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500
}
.header-area .main-header .menu-wrapper .main-menu ul li:hover>ul.submenu {
  visibility: visible;
  opacity: 1;
  top: 100%
}
.header-area .main-header .menu-wrapper .main-menu ul li:hover>ul.submenu::before {
  top: -8px
}
.header-area .main-header .menu-wrapper .main-menu ul ul.submenu {
  position: absolute;
  width: 170px;
  background: #fff;
  left: 0;
  top: 90%;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
  padding: 17px 0;
  border-top: 3px solid #ff2020;
  border-radius: 7px 7px 3px 3px;
  -webkit-transition: all .2s ease-out 0s;
  -moz-transition: all .2s ease-out 0s;
  -ms-transition: all .2s ease-out 0s;
  -o-transition: all .2s ease-out 0s;
  transition: all .2s ease-out 0s
}
.header-area .main-header .menu-wrapper .main-menu ul ul.submenu>li {
  margin-left: 7px;
  display: block
}
.header-area .main-header .menu-wrapper .main-menu ul ul.submenu>li>a {
  padding: 6px 10px !important;
  font-size: 16px;
  color: #0b1c39;
  text-transform: capitalize
}
.header-area .main-header .menu-wrapper .main-menu ul ul.submenu>li>a:hover {
  color: #ff2020;
  background: none
}
.header-area .main-header .menu-wrapper .main-menu ul ul.submenu::before {
  border-style: solid;
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent red transparent;
  content: "";
  top: -5px;
  left: 13%;
  position: absolute;
  transition: .3s;
  z-index: -1;
  overflow: hidden;
  -webkit-transition: all .3s ease-out 0s;
  -moz-transition: all .3s ease-out 0s;
  -ms-transition: all .3s ease-out 0s;
  -o-transition: all .3s ease-out 0s;
  transition: all .3s ease-out 0s
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header .menu-wrapper .header-right {
      margin-right: 82px
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .header-area .main-header .menu-wrapper .header-right {
      margin-right: 73px
  }
}
@media (max-width: 575px) {
  .header-area .main-header .menu-wrapper .header-right {
      position: relative;
      bottom: -73px;
      z-index: 3;
      right: 5px
  }
}
.header-area .main-header .menu-wrapper .header-right ul {
  display: flex !important;
  justify-content: space-between
}
.header-area .main-header .menu-wrapper .header-right .nav-search {
  display: inline-block
}
.header-area .main-header .menu-wrapper .header-right span {
  color: #000000;
  font-size: 16px;
  cursor: pointer;
  padding: 31px 19px
}
.header-area .main-header .menu-wrapper .header-right span:hover {
  color: #ff2020
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header .menu-wrapper .header-right span {
      padding: 21px 19px
  }
}
@media (max-width: 575px) {
  .header-area .main-header .menu-wrapper .header-right span {
      padding: 6px 9px
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-sticky.sticky-bar.sticky {
      padding: 22px 0px
  }
}
@media (max-width: 575px) {
  .header-sticky.sticky-bar.sticky .header-right {
      display: none
  }
}



/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}


.iconos-navbar {
  margin-right: 35px;
}

.div-perfil {
  margin-top: -10px;
  margin-left:-60px;
  margin-right:5%;
}
