
 <main>
 <div class="container login-container">
            <div class="row">
                <div class="col-md-6 login-form-1">
                    <h3>¿Nuevo en nuestra tienda?</h3>
                        <p>Quizas quieras crear una cuenta asi bien mamalona 
                            para encontrar articulos que te puedan gustar UwU</p>
                        <div class="form-group">
                            <a href="#" class="btnForgetPwd">Registrarse</a>
                        </div>
                    
                </div>
                <div class="col-md-6 login-form-2">
                    
                    <h3>Inicia sessión</h3>
                        <p>Ingresa para tener acceso al repertorio de nuestra tienda</p>
                        <div class="form-group">
                            <input type="text" class="form-control" [(ngModel)]="nombre" placeholder="Usuario" value="" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" [(ngModel)]="contrasenia" placeholder="Contraseña *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btnSubmit" value="Ingresar" />
                        </div>
                        <div class="form-group">

                            <a href="#" class="btnForgetPwd" value="Login">¿Olvidó la contraseña?</a>
                        </div>
                    
                </div>
            </div>
        </div>
    
    --></main>