
<div>

  <div class="sidenav" style="background-color: rgb(246, 254, 255);">

    <p>
      <a class="" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Televisores
      </a>
    </p>
    <div class="collapse show" id="collapseExample">
      <div class="card card-body">
       <a href="#">Sony</a>
       <a href="#">LG</a>
       <a href="#">Samsumg</a>
      </div>
    </div>

    <p>
      <a class="" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
        Computadoras
      </a>
    </p>
    <div class="collapse show" id="collapseExample2">
      <div class="card card-body">
       <a href="#">Dell</a>
       <a href="#">HP</a>
       <a href="#">Asus</a>
      </div>
    </div>



    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Cuidado para la Salud
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <a href="#">Mascarillas</a> <br/>
            <a href="#">Desinfectantes</a><br/>
            <a href="#">Medicamentos</a><br/>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Tecnologia
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            <a href="#">Computadoras</a><br/>
            <a href="#">Camaras</a><br/>
            <a href="#">Televisores</a><br/>
          </div>
        </div>
      </div>

    </div>


  </div>

  <div style="margin-left: 19%;">

    <div class="div-busqueda input-group md-form form-sm form-2 pl-0 ">
      <input class="form-control barra-busqueda" type="text" placeholder="Buscar..." aria-label="Search">
      <a href="#"><img class="icono-buscar" src="assets/icons/buscar.png" height="38" alt=""></a>
    </div>

    <div class="row" style="margin-right: 1%;">
      <div class="col-lg-4 col-md-4 col-sm-6 col-6 columnas">
        <div class="contenedor-img text-center">
          <img src="assets/img/alienware15.jpg" class="estilo-img img-fluid" alt="">
        </div>
        <div class="contenedor-desc">
          <label for="" class="label-desc">Computadora Gaming Core i7 Novena generacion</label>
          <strong>HNL. 16,000</strong>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-6 columnas">
        <div class="contenedor-img text-center">
          <img src="assets/img/alienware22.jpg" class="estilo-img" alt="">
        </div>
        <div class="contenedor-desc">
          <label for="" class="label-desc">Computadora Gaming Core i7 Novena generacion</label>
          <strong>HNL. 16,000</strong>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-6 columnas">
        <div class="contenedor-img text-center">
          <img src="assets/img/alienware51.jpg" class="estilo-img" alt="">
        </div>
        <div class="contenedor-desc">
          <label for="" class="label-desc">Computadora Gaming Core i7 Novena generacion</label>
          <strong>HNL. 16,000</strong>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-6 columnas">
        <div class="contenedor-img text-center">
          <img src="assets/img/asus-tuf.jpg" class="estilo-img" alt="">
        </div>
        <div class="contenedor-desc">
          <label for="" class="label-desc">Computadora Gaming Core i7 Novena generacion</label>
          <strong>HNL. 16,000</strong>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-6 columnas">
        <div class="contenedor-img text-center">
          <img src="assets/img/laptop21.jpg" class="estilo-img" alt="">
        </div>
        <div class="contenedor-desc">
          <label for="" class="label-desc">Computadora Gaming Core i7 Novena generacion</label>
          <strong>HNL. 16,000</strong>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-6 columnas">
        <div class="contenedor-img text-center">
          <img src="assets/img/rel12.jpg" class="estilo-img" alt="">
        </div>
        <div class="contenedor-desc">
          <label for="" class="label-desc">Computadora Gaming Core i7 Novena generacion</label>
          <strong>HNL. 16,000</strong>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-6 columnas">
        <div class="contenedor-img text-center">
          <img src="assets/img/alienware22.jpg" class="estilo-img" alt="">
        </div>
        <div class="contenedor-desc">
          <label for="" class="label-desc">Computadora Gaming Core i7 Novena generacion</label>
          <strong>HNL. 16,000</strong>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-6 columnas">
        <div class="contenedor-img text-center">
          <img src="assets/img/alienware51.jpg" class="estilo-img" alt="">
        </div>
        <div class="contenedor-desc">
          <label for="" class="label-desc">Computadora Gaming Core i7 Novena generacion</label>
          <strong>HNL. 16,000</strong>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-6 columnas">
        <div class="contenedor-img text-center">
          <img src="assets/img/alienware15.jpg" class="estilo-img img-fluid" alt="">
        </div>
        <div class="contenedor-desc">
          <label for="" class="label-desc">Computadora Gaming Core i7 Novena generacion</label>
          <strong>HNL. 16,000</strong>
        </div>
      </div>

    </div>
  </div>

</div>

