
<div>

  <div class="sidenav" style="background-color: beige;">
    Sidebar
  </div>

  <div style="margin-left: 18%;">

    <div class="div-busqueda input-group md-form form-sm form-2 pl-0">
      <input class="form-control barra-busqueda" type="text" placeholder="Buscar..." aria-label="Search">
      <a href="#"><img class="icono-buscar" src="assets/icons/buscar.png" height="38" alt=""></a>
    </div>

    <div class="row" style="margin-right: 2%;">
      <div class="col-4 columnas">
        <div class="contenedor-img">
          <img src="assets/img/alienware15.jpg" class="estilo-img" alt="">
        </div>
        <div class="descripcion">Descripcion</div>
      </div>

      <div class="col-4 columnas">
        <div class="contenedor-img">
          <img src="assets/img/alienware22.jpg" class="estilo-img" alt="">
        </div>
        <div class="descripcion">Descripcion</div>
      </div>

      <div class="col-4 columnas">
        <div class="contenedor-img">
          <img src="assets/img/alienware51.jpg" class="estilo-img" alt="">
        </div>
        <div class="descripcion">Descripcion</div>
      </div>

      <div class="col-4 columnas">
        <div class="contenedor-img">
          <img src="assets/img/asus-tuf.jpg" class="estilo-img" alt="">
        </div>
        <div class="descripcion">Descripcion</div>
      </div>
      <div class="col-4 columnas">
        <div class="contenedor-img">
          <img src="assets/img/laptop21.jpg" class="estilo-img" alt="">
        </div>
        <div class="descripcion">Descripcion</div>
      </div>
      <div class="col-4 columnas">
        <div class="contenedor-img">
          <img src="assets/img/rel12.jpg" class="estilo-img" alt="">
        </div>
        <div class="descripcion">Descripcion</div>
      </div>
    </div>
  </div>

</div>

